@charset "utf-8";
/**  **/
/*  */
.header, .main, .footer {
    margin: 0;
    padding: 2px;
    width: 100%;
    text-align: center;
}
/*  */
.header, .footer {
    position: fixed;
    left: 0;
}
/*  */
.header {
    top: 0;
}
/*  */
.footer {
    bottom: 0;
}